/* REGOLE GENERALI */
:root{
--my-dark-color: #3A546D;
--my-darkest-color: #2C3E50;
--my-light-color: #1ABC9C;
}

body{
    font-family: 'Poppins', sans-serif;
}

.bg-my-dark{
    background-color: var(--my-dark-color);
}

.bg-my-darkest{
    background-color: var(--my-darkest-color);
}

.bg-my-light{
    background-color: var(--my-light-color);
}

.text-my-light{
    color: var(--my-light-color);
}

img{
    width: 100%;
}

.avatar-img{
    max-width: 300px;
}

button{
    width: 200px;
    background-color: var(--my-light-color);
    color: white;
    border: 1px white solid;
}

.inverted-hamburger{
    filter: invert(1);

}

.main-title{

}

.decorative-element-container::before,
.decorative-element-container::after{
    content: "";
    width: 12%;
    height: 4px;
    border-radius: 2px;
    border-color: white;
    display: inline-block;
    vertical-align: middle;
}

.decorative-element-container.dark-dashes::before,
.decorative-element-container.dark-dashes::after{
    border-color: var(--my-darkest-color);
}

.decorative-element-container.dark-dashes > i{
    color: var(--my-darkest-color);
}

.decorative-element-container > i{
    vertical-align: middle;
    margin: 0 15px;
}







/* media query */
@media screen and (min-width: 768px){
    .main-title{
        font-size: 4rem;
    }
}